@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header>
    <div class="text-center">
        <h1 class="text-danger">@ViewData["Title"]</h1>
        <p class="text-danger">Oops! You do not have access to this page.</p>
        <img src="~/image/GoogleError.png" />
    </div>
</header>
