@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<p>The Crime Management and Reporting System is a Web Application made by using the ASP Dot NET Core framework, which involves the use of different modules/packages, mainly Entity Framework and Identity packages.</p>
<p>As we know that the crime rates are getting high and high these days, so it's high time that we need a facility where people from anywhere on the globe can report any type of crime(s) happening around them.</p>
<p>Hope you guys liked it. Thank you.</p>
<p style="font-weight:bold">Consider giving feedback on sid48608@gmail.com</p>
