@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Crime Management and Reporting System</h1>
    <p>An online Crime Reporting Web App accessible by <strong>Anyone</strong> and <strong>Everyone</strong>. Users can report any kind of criminal activities around them in the simplest possible way.</p>
    <p style="font-weight:bold"> LET US TAKE A STEP FORWARD IN MAKING THIS COUNTRY CRIME FREE!'</p>

    <img src = "~/image/crime.webp" alt="Crime Management"></img>
</div>
